[defaults]
inventory = inventory.yml
roles_path = roles
collections_path = ~/.ansible/collections
stdout_callback = default
callback_result_format = yaml
bin_ansible_callbacks = true
forks = 5
timeout = 30

[privilege_escalation]
become = false
