apiVersion: hco.kubevirt.io/v1
kind: HyperConverged
metadata:
  name: kubevirt-hyperconverged
  namespace: {{ cnv_namespace }}
  annotations:
    kubevirt.kubevirt.io/jsonpatch: >-
      [{"op":"add","path":"/spec/configuration/developerConfiguration/featureGates/-","value":"GPUsWithDRA"}]
spec: {}
